.features{
    width: 90%;
    height: 400px;
    margin: 0 5% 0 5%;
}
.features__introduction{
    width: 400px;
    height: 400px;
    float: left;
    margin: 0 1% 0 1%;
    text-align: center;
    padding: 3% 3% 3% 3%;
}
.features__introduction__two{
    width: 400px;
    height: 400px;
    float: left;
    margin: 0 1% 0 1%;
}
.features__introduction__three{
    width: 400px;
    height: 400px;
    float: left;
    margin: 0 1% 0 1%;
}