#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.components-layout-carousel {
  margin-top: 30px;
}

.carousel-item {
  background: gray url(https://i.loli.net/2019/12/17/h5tD2HAQvgxE1dX.jpg);
  background-size: cover;
  background-position: center;
}